<!DOCTYPE html>
<html>

<head>
  <script src="static/js/plotly.min.js"></script>
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/application.js"></script>
  <script src="static/js/socket.io.min.js"></script>

  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>e.DO Robot Arm Visualization</h1>
    </div>
  </div>
  </div>

  <div class="container" id="content">
    <div class="row">
    <div class="col-sm-4">
      <p>X-coordinate: <div id="log_x"></p></div>
    </div>
    <div class="col-sm-4">
      <p>Y-coordinate: <div id="log_y"></p></div>
    </div>
    <div class="col-sm-4">
      <p>Z-coordinate: <div id="log_z"></p></div>
    </div>
    </div>
  </div>


</body>

</html>
